<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gym Bro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="sidebar">
        <h2>Gym Bro</h2>
        <a href="/dashboard">Dashboard</a>
        <a href="/profile">My Bookings</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="main">
        {% block content %}{% endblock %}
    </div>

</body>
</html>